.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.pagination button {
  padding: 8px 14px;
  border: none;
  background: #0f172a;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:hover:not(:disabled) {
  background: #1e293b;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}